/*-----------------------------------------------------------*/
/*------------------------ NOTBOOK --------------------------*/
/*-----------------------------------------------------------*/
@media (max-width: 1200px) {
	
	/*global*/
	section { padding: 60px 0; }

	/*header*/
	.row,
	.hero-text { 
		width: 100%;
		padding: 0 2%;
	}

	/*about*/
	.about-text {
	    width: 80%;
	    margin-left: 10%;
	}

	/*skill*/
	.skills ul li img {	transform: scale(1.03);	}

	/*hire me*/
	.card {
		width: 100%;
		margin-left: 0;
	}

	/*footer*/
	.copyright { padding: 30px 0; }

}


/*-----------------------------------------------------------*/
/*------------------------ TABLET ---------------------------*/
/*-----------------------------------------------------------*/
@media (max-width: 1023px){

	/*global*/
	body{ font-size: 18px; }	
	section { padding: 40px 0; }

	/*about*/
	.about-text {
		width: 100%;
		margin-left: 0;
	}

	/*skills*/
	.skills ul li img {	transform: scale(1.04);	}

	/*work*/
	.work-div {	margin-top: 30px; }
	.work-step { margin-bottom: 30px; }

	/*hire me*/
	.card div p { font-size: 200%; }

}


/*-----------------------------------------------------------*/
/*------------------------ FABLET ---------------------------*/
/*-----------------------------------------------------------*/
@media (max-width: 767px){

	/*global*/
	body { font-size: 16px; }	
	section { padding: 20px 0; }

	/*header*/
	header { background-image: none; }

	/*nav*/
	.logo { height: 80px; }
	.main-nav li { 
		margin-right: 10px;
		margin-top: 10px
	}

	/*grid*/
	.col { 
		width: 100%; 
		margin: 0 0 3% 0;
	}

	/*works*/
	.work-div img { padding-right: 0; }

	/*feedback*/
	.claients-feedback { background-position: center; }

	/*contact*/
	.white-space { display: none; }

	/*footer*/
	footer { font-size: 90%; }
	footer .col { width: 50%; }

}


/*-----------------------------------------------------------*/
/*------------------------ MOBILE ---------------------------*/
/*-----------------------------------------------------------*/
@media (max-width: 480px){

	/*global*/
	body { font-size: 14px; }

	/*nav*/
	nav ul { visibility: hidden; }

	/*about*/
	.about-text { margin-bottom: 10px; }

	/*skills*/
	.skills ul li img {	transform: scale(1.09);	}

	/*works*/
	.work-step div {   
    	height: 35px;
    	width: 35px;
    	font-size: 170%;   
	}

	/*feedback*/
	cite { margin-top: 10px; }	

	.card div p span { font-size: 45%; }

	/*footer*/
	footer ul li { margin-right: 7px; }

}