/*----------------------------------------------------------
GLOBAL
----------------------------------------------------------*/

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color:#fff;
	font-family: Lato, sans-serif;
	font-size:20px;
	font-weight: 300;
}

.row {
	width: 1140px;
	margin: 0 auto;
}
/*----------------------------------------------------------
HEADER
----------------------------------------------------------*/

header {
	height: 100vh;
	background-image: url(img/bg.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
}

.hero-text {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	margin-top: 0;
	margin-bottom: 20px;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 4px;	
}

span {
		font-size: 80%;
		font-weight: 300;
}
/*----------------------------------------------------------
BUTTON
----------------------------------------------------------*/

.btn {
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 5px;
	display: inline-block;
	transition: background-color 0.5s;
}

.facebook-btn:link,
.facebook-btn:visited {
	background-color: #3b5998;
	border: 1px solid #3b5998;
	color: #fff;
}

.facebook-btn:hover,
.facebook-btn:active {
	background-color: #fff;
	border: 1px solid #3b5998;
	color: #3b5998;
}

.github-btn:link,
.github-btn:visited {
	border: 1px solid #211F1F;
	color: #211F1F;
}

.github-btn:hover,
.github-btn:active {
	background-color: #211F1F;
	border: 1px solid #211F1F;
	color: #fff;
}

.Logo{
	height: 80px;
	width: 80px;
	float: left;
	border-radius: 50px;
}


.main-nav{
	float: right;
	margin-top: 20px;	
}

.main-nav li {
	display: inline-block;
	list-style: none;
	margin-right: 20px;
}

.main-nav li a {
	text-decoration: none;
	text-transform: uppercase;
	color:tomato; 
}

.main-nav li a:hover{
	color: tomato;
}

.resume{
	border: 1px solid #555;
	padding: 10px 20px;
	border-radius: 5px
}

.resume:hover{
	color: tomato
}
